.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 50px 0;
}

.info__card {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 64px;
    box-shadow: -3px 0px 149px 15px rgba(0,0,0,0.1);
    -webkit-box-shadow: -3px 0px 149px 15px rgba(0,0,0,0.1);
    -moz-box-shadow: -3px 0px 149px 15px rgba(0,0,0,0.1);
}

@media (max-width: 800px) {
    .info {
        padding: 0;
        margin-bottom: 50px;
    }

    .info__card {
        padding: 0 5%;
        background: #F3F3F3;
        border-radius: 0 0 32px 32px;
        box-shadow: none;
    }
}
